@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap");
body {
  font-family: "Poppins";
  background: #dde5f4;
  margin: 0em;
  padding: 0em;
}

.header {
  margin: 0 0 0 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  background-color: rgb(26, 108, 141);
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: white;
  letter-spacing: 2px;
}

.page-content {
  -webkit-animation: fadeIn 1s ease-in 0s 1 normal forwards;
          animation: fadeIn 1s ease-in 0s 1 normal forwards;
  margin: 1em;
}

.central-message {
  text-align: center;
  padding: 1em;
  border: #9e9e9e 1px solid;
  border-radius: 1em;
  display: block;
}

.footer {
  text-align: center;
  color: #9398a1;
}
.footer a {
  color: #9398a1;
  text-decoration: none;
}
.footer span {
  font-size: 10px;
}

hr {
  margin: 2em;
}

.mainMenu {
  text-decoration: none;
  color: #232b2b;
  font-weight: bold;
  letter-spacing: 0px;
}

.mainMenu:hover {
  -webkit-animation: spacingGreater 1s ease 0s 1 normal forwards;
          animation: spacingGreater 1s ease 0s 1 normal forwards;
}

.placeholder {
  font-weight: bold;
  margin: 0;
}
.placeholder small {
  font-weight: normal;
  font-size: smaller;
  color: red;
}

input {
  width: 20%;
  height: 22px;
  border: none;
  border-radius: 7px;
  font-family: "Poppins";
  margin: 0 0 1.5em 0;
}

input:focus {
  outline: 1px solid rgb(44, 44, 44);
}

textarea {
  width: 20%;
  border: none;
  border-radius: 7px;
  font-family: "Poppins";
  margin: 0 0 1.5em 0;
  resize: vertical;
}

textarea:focus {
  outline: 1px solid rgb(44, 44, 44);
}

.options {
  display: inline;
}

.card-option {
  height: 2em;
  padding: 0 2em 0 2em;
  background-color: lightgray;
}

.question {
  margin-top: 1em;
  text-align: center;
  padding: 0em;
  border-radius: 1em;
  margin-bottom: 1em;
  text-align: center;
  justify-content: center;
}
.question .title {
  font-size: 1.3em;
  font-weight: bold;
}
.question .custom-select {
  margin: auto;
  margin-top: 1em;
  padding: 0.5em 2em 0.5em 2em;
  background-color: rgb(248, 248, 248);
  border: none;
  border-radius: 9px;
  border: #dfdfdf 1px solid;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.question .custom-select hr {
  margin: 0 3em 0 3em;
}
.question .custom-select .custom-option {
  cursor: pointer;
  font-size: 0.9em;
  color: #252525;
  margin: 0.5em 0 0.5em 0;
  background-color: #f1f1f1;
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
}
.question .custom-select .custom-option:hover {
  color: rgb(26, 108, 141);
  background-color: #e6e4e4;
}
.question .custom-select .selected {
  border-left: rgb(26, 108, 141) 4px solid;
  color: rgb(26, 108, 141);
  background-color: #e6e4e4;
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
}

.btnEnviar {
  margin: 1.5em 4em 1em 4em;
  background-color: rgb(26, 108, 141);
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 9px;
  cursor: pointer;
  color: white;
}
.btnEnviar .icon {
  font-size: 0.9em;
  margin-right: 0.5em;
}
.btnEnviar span {
  font-weight: bold;
}
.btnEnviar button {
  background-color: rgb(26, 108, 141);
  border: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0px;
  cursor: pointer;
  width: 100%;
}
.btnEnviar button:hover {
  -webkit-animation: spacingGreater 2s ease-out 0s 1 normal forwards;
          animation: spacingGreater 2s ease-out 0s 1 normal forwards;
  transition: 2s;
}

@-webkit-keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spacingGreater {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@keyframes spacingGreater {
  0% {
    letter-spacing: 0px;
  }
  100% {
    letter-spacing: 1px;
  }
}/*# sourceMappingURL=index.css.map */