@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

body {
  font-family: "Poppins";
  background: #dde5f4;
  margin: 0em;
  padding: 0em;
}

.header {
  margin: 0 0 0 0;
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  background-color: rgb(26, 108, 141, 1);
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  color: white;
  letter-spacing: 2px;
}

.input-number {
  background-color: #ececec;
  border: none;
  padding: 0.5em;
  width: 3em;
  height: 1em;
  border-radius: 9px;
  border: #c5c5c5 1px solid;
  text-align: center;
  font-family: "Poppins";
}

.page-content {
  animation: fadeIn 1s ease-in 0s 1 normal forwards;
  margin: 1em;
}

.survey-start-button {
  margin: 1.5em 4em 0 4em;
  background-color: rgb(26, 108, 141);
  padding: 0.3em 1em 0.3em 1em;
  border-radius: 9px;
  cursor: pointer;
  color: white;

  span {
    font-weight: bold;
  }
}

.central-message {
  text-align: center;
  padding: 1em;
  border: #9e9e9e 1px solid;
  border-radius: 1em;
  display: block;
}

.footer {
  text-align: center;
  color: #9398a1;

  a {
    color: #9398a1;
    text-decoration: none;
  }

  span {
    font-size: 10px;
  }
}

hr {
  margin: 2em;
}

.error {
  animation: fadeIn 1s ease-in 0s 1 normal forwards;
  display: none;
  font-size: 0.9em;
  text-align: center;
  border-radius: 10px;
  padding: 0.7em;
  background-color: #f8d7da;
  border: #721c24 1px solid;
  color: #721c24;
  margin-bottom: 1em;
}

@keyframes fadeIn {
  0% {
    filter: blur(1px);
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}